/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
    url('../fonts/montserrat-v14-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header-logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.header-list__link {
  position: relative;
  color: #ffffff;
}
h2,
.header-list__link,
.services__list-title,
.our-team-item-name,
.contact-form__btn {
  text-transform: uppercase;
}
.services-title::after,
.our-team-title::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  content: '';
  margin: 0 auto;
  margin-top: 40px;
}
.button-search {
  background-color: transparent;
  border-style: none;
}
.cart-svg,
.search-svg {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}
.br {
  display: block;
}
.services-title__br,
.our-team-title__br {
  margin-bottom: 20px;
}
.header {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  position: absolute;
  padding-top: 28px;
  padding-bottom: 66px;
}
.header-list,
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.header-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navigation__item:not(:last-of-type) {
  margin-right: 56px;
}
.cart-search-list {
  padding-left: 56px;
}
.header-list__link:hover::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  content: '';
  margin-top: 10px;
}
.header-list__item,
.header-list__link,
.overlay,
.our-team-item-img-wrapper,
.social-list__item a,
.footer a {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.header-list__link:hover {
  color: #fce38a;
}
.banner {
  display: block;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url('../images/Layer15.jpg');
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url('../images/Layer15.jpg');
  background-image: linear-gradient(
      360deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url('../images/Layer15.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 246px;
  padding-bottom: 230px;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .banner {
    background-image: url('../images/Layer15@2x.jpg');
  }
}
.banner__title {
  font-family: 'Montserrat';
  font-size: 150px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 110px;
}
.banner-title__spam {
  font-family: 'Kaushan Script';
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  text-align: center;
  margin-bottom: 44px;
}
.banner-button {
  display: block;
  width: 160px;
  height: 40px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
.services {
  padding-top: 66px;
  padding-bottom: 50px;
}
.our-team {
  padding-top: 50px;
  padding-bottom: 82px;
}
.footer {
  padding-top: 12px;
  padding-bottom: 12px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 100px;
}
h3 {
  margin-bottom: 16px;
}
.services__list :not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}
.our-team-description {
  margin-bottom: 90px;
}
.our-team-item-img-wrapper {
  margin-bottom: 30px;
}
.our-team__item-name {
  margin-bottom: 10px;
}
.services-title__br,
.our-team-title span {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
}
h2,
.services-title__br,
.our-team-title__br,
.our-team p {
  text-align: center;
}
.services__list,
.our-team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.our-team-item-img,
.servise__list-item {
  width: 380px;
}
h2,
.services-title__br,
.our-team-title__br,
.services__list-title,
.our-team__item-name {
  color: #333333;
}
.services__list-description,
.our-team-description,
.our-team__item-position {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
.our-team-description span {
  display: block;
}
.our-team__item-position {
  font-weight: 300;
  font-style: italic;
}
.servise__list-item_photography,
.servise__list-item_web-design,
.servise__list-item_creativity,
.servise__list-item_seo,
.servise__list-item_css-html,
.servise__list-item_digital {
  background-repeat: no-repeat;
  background-position: 18px 0;
  padding-left: 80px;
}
.servise__list-item_photography {
  background-image: url('../icons/Photography.svg');
}
.servise__list-item_web-design {
  background-image: url('../icons/WebDesign.svg');
}
.servise__list-item_creativity {
  background-image: url('../icons/Creativity.svg');
}
.servise__list-item_seo {
  background-image: url('../icons/seo.svg');
}
.servise__list-item_css-html {
  background-image: url('../icons/CssHtml.svg');
}
.servise__list-item_digital {
  background-image: url('../icons/digital.svg');
}
.our-team-item-img-wrapper {
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    360deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0;
}
.our-team-item-img-wrapper:hover {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.overlay:hover {
  opacity: 1;
  -webkit-box-shadow: 10px 10px #95e1d3;
  box-shadow: 10px 10px #95e1d3;
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-list__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social-list__item {
  background-color: #fce38a;
}
.social-list__item-link:hover {
  background-color: #f38181;
}
.social-list__item-link:hover .social-list_svg {
  fill: #ffffff;
}
.social-list_svg {
  fill: #f38181;
}
.facebook {
  width: 12px;
  height: 26px;
}
.twitter {
  width: 26px;
  height: 21px;
}
.pinterest {
  width: 20px;
  height: 26px;
}
.instagram {
  width: 26px;
  height: 26px;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border-top: 1px solid #e5e5e5;
}
.footer p,
.footer a {
  color: #333333;
}
.footer a:hover {
  color: #f38181;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form__input {
  width: 230px;
  border: 1px solid #e7e7e7;
}
input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}
input::-moz-placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}
input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}
input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}
input::placeholder {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}
.contact-form__btn {
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #95e1d3;
  border-style: none;
}
